<footer class="bg-gray-500 mt-4 rounded-t-md">
    <div class="flex flex-wrap justify-around items-center text-white p-5">
        <div>
            <img src="{{ .Site.Params.logo }}" alt="site logo" class="h-16 rounded-full">
        </div>
        <div>
            a.simak@seznam.cz<br/>
            776 748 864
        </div>
        <div>
            Výkup a prodej aut. Dovoz osobních<br/>
            a užitkových aut převážně z Německa.
        </div>
        <div>
            Sociální sítě<br/>
            <a href="https://www.facebook.com/profile.php?id=100063952359544"><img src="facebook.svg" alt="Facebook logo" style="height:2em" class="inline-block pr-4"></a><br/>
        </div>
    </div>
</footer>