{{ define "main" }}
<div class="container mx-auto px-4 bg-gray-100" class="h-10 md:h-20">
    <div class="relative">
        <div class="absolute top-0 left-0">
            <img src="{{ .Site.Params.logo }}" alt="site logo" class="h-16 sm:h-22 md:h-24 lg:h-32 xl:h-36 2xl:h-48 rounded-full">
        </div>
        <img src="{{ .Site.Params.banner }}" alt="site banner" class="rounded-b-md">
    </div>
    <h2 class="py-6">Výkup a prodej aut. Dovoz osobních a užitkových aut převážně z Německa.</h2>
    <div class="flex flex-wrap justify-around">
        <div class="py-6">
            <div class="font-semibold">Kontaktujte nás</div><br/>
            <img src="address.svg" alt="Address logo" style="height:2em" class="inline-block pr-4"><a href="https://goo.gl/maps/uVDwus2SAHZfcJNF7">Karla Šípka 279, 530 09 Pardubice</a><br/>
            <img src="email.svg" alt="Email logo" style="height:2em" class="inline-block pr-4">a.simak@seznam.cz<br/>
            <img src="phone.svg" alt="Phone logo" style="height:2em" class="inline-block pr-4">776 748 864<br/>
            <a href="https://www.facebook.com/profile.php?id=100063952359544"><img src="facebook.svg" alt="Facebook logo" style="height:2em" class="inline-block pr-4"></a><br/>
            IČ: 71855297, DIČ: CZ8110083322<br/>
            <br/>
            Kde nás najdete?
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2561.8073914184115!2d15.754266315891542!3d50.05243932384395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470dccd1beb527e9%3A0xe757a08aa51e0af5!2sKarla%20%C5%A0%C3%ADpka%20279%2C%20530%2009%20Pardubice%20II-Polabiny!5e0!3m2!1sen!2scz!4v1637447379931!5m2!1sen!2scz" width="80%" style="border:0;" allowfullscreen="" loading="lazy" class="pt-4"></iframe>
        </div>
        <div class="py-6">
            <div class="font-semibold">Čím jsme výjimečný?</div><br/>
            <ul>
                <li>Auto rádi dovezeme zdarma po celé ČR až k vám domů.</li>
                <li>Vozidla nakupujeme převážně v autorizovaných dealerstvích.</li>
                <li>Většina vozidel je po prvním majiteli a má servisní historií.</li>
                <li>Nabízíme možnost prodloužené záruky až na 36 měsíců pro ojeté vozy!!!</li>
                <li>Nabízíme výhodné pojištění vozidla.</li>
                <li>Všechna naše vozidla jsou vyčištěna, odzkoušena a prověřena.</li>
                <li>U nás nakoupíte vždy bez rizika.</li>
                <li>Díky všem naším spokojeným zákazníkům můžeme dělat práci co nás baví:-)</li>
                <li>&nbsp;</li>
                <li class="border-l-4 border-gray-400 italic pl-4 py-2">Na trhu s ojetými vozy od roku 2005</li>
            </ul>
        </div>
    </div>
</main>
{{ end }}